/* ---- CSS reset ---- */

html {
    box-sizing: border-box;
    overflow: hidden;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  main {
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: pink; */
    background-image: url("../imgs/background.jpg");
    background-size: cover;
  }


  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  /* ---- layout ---- */
  
  html,
  body {
    height: 100%;
    color: white;
    text-align: center;
  }
  
  .container {
    margin: 0 20px;
  }
  
  @media (min-width: 787px) {
    .container {
      max-width: 787px;
      max-height: 787px; /* Resizes the container to 728px for large screens */
      margin: 0 auto;
      margin-top: 10px;
    }
  }
  
  /* ---- components ---- */
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game header {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .game .lives {
    flex: 1;
  }
  
  .game .score {
    flex: 1;
  }
  
  .game .label {
    font-weight: bold;
  }
  
  .game .value {
    font-style: italic;
  }
  
  .game .canvas-container {
    flex: 1;
  }

  .mainbackground{    /* HEADER  */
    background-color: cadetblue;
  }

  button {
    background-image: url("../imgs/pinkbutton.jpg");
    background-position: center;
    border: 1px black;
    border-radius: 30px;
    color: white;
    width: 300px;
    height: 100px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    position:absolute;
    transition: .5s ease;
    top: 82%;
    left: 40%;
  } 

  h1{
    margin: 0;
    padding: 40px;
  }
  
  #scoretable {
    margin: 60px auto;
    background-color: rgb(237, 67, 144);
    font-size: 27px;
    border-radius: 30px;
  }

#scoretable thead {
    border: 2px dashed black;
}

#scoretable th {
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#scoretable td {
    padding: 10px;
    text-align: center;
}

/* .firstback{
  background-image: url("../imgs/56789.jpg");
  background-repeat: inherit;
  width: 400px;
  height: 190px;
  border-radius: 30px;
  display: inline-block;
} */

#username{
  width: 300px;
  height: 50px;
  font-size: 27px;
}

#register-name form {
  display: flex;
  flex-direction: column;
  align-items: center
  ;
}

#register-name label {
  font-size: 20px;
  margin-bottom: 10px;
}

#gameoverfinal h1, #gameoverfinal p{
  text-shadow: 7px 7px black;
  font-size: 200%;
} 


